.stat {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1vw;
	padding-top: 2vh;
	font-size: 2vh;
}
.stat > button {
	font-size: 3vh;
	background-color: #1976d2;
	color: white;
}
.stat > button:hover {
	background-color: #145494;
}
.nadpiskv {
	font-size: 3vh;
	align-items: center;
	padding-left: 1vw;
	padding-top: 1vh;
}
.price {
	font-size: 2vh;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.712);
	color: black;
	z-index: 10;
	transform: translateX(3vw);
}
.buttonStat:hover .price {
	display: block !important;
}
.buttonStat {
	font-size: 2vh;
	height: 5vh;
	min-width: 2vw !important;
}
.buttonStat > span {
	width: 0;
}
